body {
  margin: 0px;
}
header {
  background:linear-gradient(to right,rgb(7, 168, 1),rgb(81, 255, 0));
  font-style: italic;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

header h2{
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0px;
  font-size: 40px;
}

main {
  background-image:url(white0020.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.company {
  text-align: center;
  padding: 20px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  width: 250px;
  padding: 12px 0;
  background-color: #5dca88;
  box-shadow: 0px 5px #279c56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

.company p{
  margin-bottom: 0px;
}

.person img{
border-radius: 50%;
width: 250px;
height: 250px;
border: 9px solid rgba(245, 35, 98, 0.753);
}

.person {
 text-align: center;
 
}

ul {
  list-style: none;
}

.service {
  text-align: center;
  margin: 20px;
}

.service h2{
  margin-top: 0px;
}

.service p{
  margin-bottom: 0px;
}

.introduction {
  text-align: center;
  margin: 20px;
}

.introduction h2{
  margin-top: 0px;
}

.introduction p{
  margin-bottom: 0px;
}

.active {
  text-align: center;
  padding: 20px;
}

.active h2{
  margin-top: 0px;
}

.active img{
  height: 150px;
  width: 100px;
}
